// ui colors
$primary-ui-color: #4A3AFF;
$secondary-ui-color: #EFF0F6;
$icon-ui-color: #A0A3BD;

// text-colors
$primary-text-color: #170F49;
$secondary-text-color: #6F6C90;

// breakpoints
$large-screen-size: 790px;
$medium-screen-size: 550px;
$small-screen-size: 410px;
